* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.hii {
  position: fixed;
  left: 50px;
  bottom: 50px;
  color: red;
}

.contactIcon {
  background-color: aqua;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  z-index: 100;
  position: fixed;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.slider1 {
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  margin-top: 40%;
}

.slider2 {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll
}

.slider3 {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  position: absolute;
}

::-webkit-scrollbar {
  display: none;
}



@tailwind base;
@tailwind components;
@tailwind utilities;